<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" aria-labelledby="registrationFormTitle">
  <h2 id="registrationFormTitle">User Registration</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required aria-required="true" aria-label="Name" />
    <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required aria-required="true" aria-label="Email" />
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="mobile" required aria-required="true" aria-label="Phone Number" />
    <mat-error *ngIf="registrationForm.get('mobile')?.hasError('required')">
      Phone number is required
    </mat-error>
    <mat-error *ngIf="registrationForm.get('mobile')?.hasError('pattern')">
      Enter a valid 10-digit phone number
    </mat-error>
  </mat-form-field>
 <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required aria-label="Password" />
    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="registrationForm.get('password')?.hasError('passwordStrength')">
      {{ registrationForm.get('password')?.getError('passwordStrength') }}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
    Register
  </button>
</form>